In [75]:
import pandas as pd

foursquare_data = pd.read_csv("./data/foursquare-nyc-and-tokyo-check-ins/dataset_TSMC2014_NYC.csv")
climate_data = pd.read_csv("./data/1087533.csv")

/Users/frankyliang/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (8,10,11,14,15,20,23,25,40,68,84,85,86,87) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [76]:
pd.options.display.max_columns = 999
climate_data.HOURLYPrecip = climate_data.HOURLYPrecip.fillna(0.00).replace('T', '0.00').str.replace(r"[a-zA-Z]",'').astype(float)

In [77]:
climate_data.HOURLYPrecip

0        NaN
1        NaN
2        0.0
3        0.0
4        0.0
5        NaN
6        0.0
7        0.0
8        0.0
9        NaN
10       0.0
11       0.0
12       0.0
13       NaN
14       0.0
15       0.0
16       0.0
17       NaN
18       0.0
19       0.0
20       0.0
21       NaN
22       0.0
23       0.0
24       0.0
25       NaN
26       0.0
27       0.0
28       0.0
29       NaN
        ...
33659    0.0
33660    NaN
33661    0.0
33662    0.0
33663    NaN
33664    0.0
33665    NaN
33666    0.0
33667    NaN
33668    0.0
33669    NaN
33670    0.0
33671    0.0
33672    0.0
33673    NaN
33674    0.0
33675    0.0
33676    0.0
33677    NaN
33678    0.0
33679    0.0
33680    0.0
33681    NaN
33682    0.0
33683    0.0
33684    0.0
33685    NaN
33686    0.0
33687    0.0
33688    NaN
Name: HOURLYPrecip, Length: 33689, dtype: float64

In [78]:
climate_data.HOURLYPrecip[climate_data.HOURLYPrecip > 0]

229      0.01
230      0.01
232      0.02
234      0.01
349      0.21
350      0.23
351      0.01
352      0.12
354      0.02
368      0.03
369      0.03
370      0.04
371      0.08
373      0.11
374      0.10
375      0.12
377      0.14
378      0.04
380      0.06
381      0.08
382      0.06
383      0.17
384      0.10
385      0.14
386      0.16
387      0.19
389      0.22
391      0.02
392      0.03
394      0.20
         ...
33383    0.05
33384    0.04
33386    0.01
33387    0.01
33389    0.01
33457    0.03
33458    0.08
33460    0.05
33461    0.02
33462    0.07
33463    0.09
33464    0.12
33465    0.06
33466    0.12
33467    0.11
33469    0.03
33470    0.04
33471    0.04
33473    0.07
33474    0.01
33475    0.01
33479    0.01
33485    0.01
33486    0.01
33487    0.01
33488    0.01
33496    0.01
33497    0.01
33581    0.01
33583    0.01
Name: HOURLYPrecip, Length: 2786, dtype: float64

In [90]:
climate_data.DATE = pd.to_datetime(climate_data.DATE, utc=True)

In [99]:
climate_data.DATE.dt.round('15min')

0       2012-04-12 00:45:00
1       2012-04-12 01:00:00
2       2012-04-12 01:45:00
3       2012-04-12 02:45:00
4       2012-04-12 03:45:00
5       2012-04-12 04:00:00
6       2012-04-12 04:45:00
7       2012-04-12 05:45:00
8       2012-04-12 06:45:00
9       2012-04-12 07:00:00
10      2012-04-12 07:45:00
11      2012-04-12 08:45:00
12      2012-04-12 09:45:00
13      2012-04-12 10:00:00
14      2012-04-12 10:45:00
15      2012-04-12 11:45:00
16      2012-04-12 12:45:00
17      2012-04-12 13:00:00
18      2012-04-12 13:45:00
19      2012-04-12 14:45:00
20      2012-04-12 15:45:00
21      2012-04-12 16:00:00
22      2012-04-12 16:45:00
23      2012-04-12 17:45:00
24      2012-04-12 18:45:00
25      2012-04-12 19:00:00
26      2012-04-12 19:45:00
27      2012-04-12 20:45:00
28      2012-04-12 21:45:00
29      2012-04-12 22:00:00
                ...
33659   2013-02-16 04:45:00
33660   2013-02-16 05:45:00
33661   2013-02-16 05:45:00
33662   2013-02-16 06:45:00
33663   2013-02-16 07:00:00
33664   2013-02-16 07:45:00
33665   2013-02-16 08:45:00
33666   2013-02-16 08:45:00
33667   2013-02-16 09:45:00
33668   2013-02-16 09:45:00
33669   2013-02-16 10:00:00
33670   2013-02-16 10:45:00
33671   2013-02-16 11:45:00
33672   2013-02-16 12:45:00
33673   2013-02-16 13:00:00
33674   2013-02-16 13:45:00
33675   2013-02-16 14:45:00
33676   2013-02-16 15:45:00
33677   2013-02-16 16:00:00
33678   2013-02-16 16:45:00
33679   2013-02-16 17:45:00
33680   2013-02-16 18:45:00
33681   2013-02-16 19:00:00
33682   2013-02-16 19:45:00
33683   2013-02-16 20:45:00
33684   2013-02-16 21:45:00
33685   2013-02-16 22:00:00
33686   2013-02-16 22:45:00
33687   2013-02-16 23:45:00
33688   2013-02-17 00:00:00
Name: DATE, Length: 33689, dtype: datetime64[ns]

In [100]:
 foursquare_data.utcTimestamp = pd.to_datetime(foursquare_data.utcTimestamp).dt.round('15min')